<mat-card class="chat-container">
  <div class="chat-header">
    <mat-toolbar>
      <span>Chat with Memory</span>
    </mat-toolbar>
  </div>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <mat-nav-list>
        <mat-list-item>
          <a>Chat 1</a>
          <button mat-icon-button matListItemMeta>
            <mat-icon>close_small</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>Chat 2</mat-list-item>
        <mat-list-item>Chat 3</mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <app-simple-chat/>
    </mat-drawer-content>
  </mat-drawer-container>
</mat-card>
